<!DOCTYPE html>
<html>
<head>
    <title>Add Patient</title>
</head>
<body>

<h1>Add Patient</h1>

<form method="POST">

    <label>Full Name:</label><br>
    <input type="text" name="full_name" required><br><br>

    <label>DOB:</label><br>
    <input type="date" name="dob" required><br><br>

    <label>Gender:</label><br>
    <input type="text" name="gender" required><br><br>

    <label>Blood Group:</label><br>
    <input type="text" name="blood_group" required><br><br>

    <label>Contact Number:</label><br>
    <input type="text" name="contact" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email"><br><br>

    <label>Address:</label><br>
    <input type="text" name="address"><br><br>

    <label>Emergency Contact:</label><br>
    <input type="text" name="emergency_contact"><br><br>

    <button type="submit">Add Patient</button>

</form>

</body>
</html>